<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
   	xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    					http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/tx
					   	http://www.springframework.org/schema/tx/spring-tx.xsd
					   	http://www.springframework.org/schema/aop
					   	http://www.springframework.org/schema/aop/spring-aop.xsd">
					 
	<tx:advice id="txAdvice"  transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>

	<aop:config>
	   <aop:pointcut id="createOperation" expression="execution(* com.jsoft.testspring.testtxannotation.StudentDAO.create(..))"/>
	   <aop:advisor advice-ref="txAdvice" pointcut-ref="createOperation"/>
	</aop:config>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	   <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	   <property name="url" value="jdbc:mysql://localhost:3306/test?serverTimezone=UTC"/>
	   <property name="username" value="root"/>
	   <property name="password" value="root"/>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	   <property name="dataSource"  ref="dataSource" />    
	</bean>
	
	<bean id="studentJDBCTemplate" class="com.jsoft.testspring.testtxannotation.StudentJDBCTemplate">
	   <property name="dataSource"  ref="dataSource" />    
	</bean>

</beans>