
springmvc/Spring4MVCCRUDRestService/\.classpath

springmvc/Spring4MVCCRUDRestService/\.mymetadata

springmvc/Spring4MVCCRUDRestService/\.project

springmvc/Spring4MVCCRUDRestService/\.settings/

springmvc/Spring4MVCCRUDRestService/target/
