
springmvc/Spring4MVCCRUDRestService/\.classpath

springmvc/Spring4MVCCRUDRestService/\.mymetadata

springmvc/Spring4MVCCRUDRestService/\.project

springmvc/Spring4MVCCRUDRestService/\.settings/

springmvc/Spring4MVCCRUDRestService/target/

swagger2test/test1/\.project

swagger2test/test1/\.classpath

swagger2test/test1/\.settings/
