<web-app id="WebApp_ID" version="3.0"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
   		 					 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
   <display-name>Spring MVC Application</display-name>
    
   <servlet>
       <servlet-name>spring-mvc</servlet-name>
       <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
       <!-- 默认：[servlet-name]-servlet.xml -->
       <!-- 通过初始化参数，指定xml文件的位置 -->
       <init-param>
           <param-name>contextConfigLocation</param-name>
           <param-value>/WEB-INF/springmvc-context.xml</param-value>
       </init-param>
       <load-on-startup>1</load-on-startup>
   </servlet>   
    
   <servlet-mapping>
       <servlet-name>spring-mvc</servlet-name>
       <url-pattern>/</url-pattern>
   </servlet-mapping>
    
</web-app>