<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
					   	   http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="address1" class="com.jsoft.testspring.testinjectioncollection.Address"></bean>
	<bean id="address2" class="com.jsoft.testspring.testinjectioncollection.Address"></bean>
	<bean id="javaCollection" class="com.jsoft.testspring.testinjectioncollection.JavaCollection">

		<!-- list -->
		<property name="addressList">
			<list>
				<value>INDIA</value>
				<value>Pakistan</value>
				<value>USA</value>
				<value>USA</value>
				<ref bean="address1"/>
				<ref bean="address2"/>
			</list>
		</property>

		<!-- set -->
		<property name="addressSet">
			<set>
				<value>INDIA</value>
				<value>Pakistan</value>
				<value>USA</value>
				<value>USA</value>
				<ref bean="address1"/>
				<ref bean="address2"/>
			</set>
		</property>

		<!-- map -->
		<property name="addressMap">
			<map>
				<entry key="1" value="INDIA" />
				<entry key="2" value="Pakistan" />
				<entry key="3" value="USA" />
				<entry key="4" value="USA" />
				<entry key="5" value-ref="address1" />
				<entry key="6" value-ref="address2" />
			</map>
		</property>

		<!-- property -->
		<property name="addressProp">
			<props>
				<prop key="one">INDIA</prop>
				<prop key="one">INDIA</prop>
				<prop key="two">Pakistan</prop>
				<prop key="three">USA</prop>
				<prop key="four">USA</prop>
			</props>
		</property>
		
	</bean>

</beans>